# Ignore training history and saved models
History/
dqn_models/
setup_agent_models/
*.pth

# Ignore Python cache directories
__pycache__/
*.pyc
*.pyo
Modular Stratego/__pycache__/
Modular Stratego/aaren/__pycache__/
Modular Stratego/pbs/__pycache__/
Modular Stratego/networks/__pycache__/
Modular Stratego/logs/
Modular Stratego/visualizers/animations/
# Ignore debug logs
debug_log.txt
**/debug_log.txt
# Ignore PyTorch model files
*.pt
paths.txt
profiling_log.txt
thesis_comparison_writeup.txt
Latex/sp.aux
Latex/sp.blg
Latex/sp.fdb_latexmk
Latex/sp.fls
Latex/sp.lof
Latex/sp.log
Latex/sp.lot
Latex/sp.out
Latex/sp.pdf
Latex/sp.synctex.gz
Latex/sp.toc
Latex/chapters/AppendixA.aux
Latex/chapters/AppendixB.aux
Latex/sp.toc
Latex/chapters/AppendixA.aux
Latex/chapters/AppendixB.aux

